<html>
<body bgcolor="black" text="white" link="white" alink="white" vlink="white">

<center>
<br><br><div id="msg">Please Enable Javascript</div><br><br>

{% if user == 'None' %}
Log in with <a href="https://metamask.io">Metamask</a>: <button onclick='login();'>Login</button>
{%else %}
Welcome {{user}}!
<br><br>
  Your submit token is <b>{{submit_token}}</b><br><br>
  
  <div style="text-align: left; width: 400px; border: 1px solid black; margin: 0 auto;">
  <pre>
  # check out the code
  git clone https://github.com/pierce403/nweb.git
  
  # go into the agent directory
  cd nweb/nweb-agent
  
  # attempt to apt install the tools for the agent
  ./setup-agent.sh
  
  # put the submit token in the environment
  sed -i -e s/REPLACE_ME/{{submit_token}}/ agent_env
 
  # ensure the SUBMITTOKEN env variable is loaded
  source agent_env
 
  # run the agent (sometimes good to run in screen)
  ./nweb_agent.py 
  </pre>
  </div>
{% endif %}

</center>

<script src="static/ethers-v4.min.js"></script>
<script src="static/metamask_login.js"></script>

</body>
</html>
