<html>
<body bgcolor="black" text="white" link="white" alink="white" vlink="white">

<center>
<br><br><div id="msg">Please Enable Javascript</div><br><br>

{% if user == 'None' %}
Log in with <a href="https://metamask.io">Metamask</a>: <button onclick='login();'>Login</button>
{%else %}
Welcome {{user}}!
<br><br>
  Your submit token is <b>{{submit_token}}</b><br><br>
  <pre>
  git clone https://github.com/pierce403/nweb.git
  cd nweb/nweb-agent
  sed -i -e s/REPLACE_ME/{{submit_token}}/ agent_env
  ./nweb-agent.py
  </pre>
{% endif %}

</center>

<script src="static/ethers-v4.min.js"></script>
<script src="static/metamask_login.js"></script>

</body>
</html>
