<html>
<body bgcolor="black" text="white" link="white" alink="white" vlink="white">

<center>
<br><br><div id="msg">Please Enable Javascript</div><br><br>

{% if user == 'None' %}
Log in with <a href="https://metamask.io">Metamask</a>: <button id='login'>Login</button>
{%else %}
Welcome {{user}}!
<br><br>
Your submit token is {{submit_token}}
{% endif %}

</center>

<script src="static/ethers-v4.min.js"></script>
<script src="static/metamask_login.js"></script>

<script nonce="${nonce}">
console.log('adding onclick to login button');
  document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('login').addEventListener('click', login() );
});
</script>

</body>
</html>
